## Ignore Visual Studio & .NET build output
bin/
obj/
release/
release-singlefile/
.vs/
*.user
*.userosscache
*.sln.docstates

## Ignore OS & User specific files
.DS_Store
Thumbs.db
*.log

## Ignore Test Results
TestResults/
*.trx

## Rider / JetBrains
.idea/
*.sln.iml
